In [0]:
#loops!!
for x in range(10):
    for y in range(x):
        print(y,end="")

001012012301234012345012345601234567012345678

In [0]:
def votes(params):
	for vote in params:
	    print("Possible option:" + vote)


votes(['tes','no'])

Possible option:tes
Possible option:no

In [0]:
#---------------------------------------------------------------------------------------
#Strings !!

In [0]:
name="Balaram   "
print(name[0])
print(name[-1])
print(name[0:])
last=7
print(name[0:last])#prints from 0 to last-1
last=5
print(name[0:last])#prints from 0 to last-1

B
m
Balaram
Balaram
Balar

In [0]:
print(name*2)#prints names two time

BalaramBalaram

In [0]:
print(name*5+str(len(name)))#you have to convert the int to str to add to string 
#if not you will get an error 
                print(name*5+(len(name)))#you have to convert the int to str to add to string
#check out the error after executing !

In [0]:
#strings are immutable that is they can not chhaged directly !
name[4]="t"#you wil get an error

In [0]:
#all you have to do is assign a new string 
new_name=name[:3]+"t"+name[4:]#replacing 4 th character 
print(new_name)

Baltram

In [0]:
#index method !
name.index("r")#index of r is returned !

4

In [0]:
"r" in name# "in "method returns if the character or a substring is in the string !

True

In [0]:
text="i am going to school"
"school" in text # to check if school in text !
"ram" in text # returns false as ram is not  present in the text !

False

String indexing allows you to access individual characters in a string. You can do this by using square brackets and the location, or index, of the character you want to access. It's important to remember that Python starts indexes at 0. So to access the first character in a string, you would use the index [0]. If you try to access an index that’s larger than the length of your string, you’ll get an ***IndexError***. This is because you’re trying to access something that doesn't exist! You can also access indexes from the end of the string going towards the start of the string by using negative values. The index [-1] would access the last character of the string, and the index [-2] would access the second-to-last character.

You can also access a portion of a string, called a slice or a substring. This allows you to access multiple characters of a string. You can do this by creating a range, using a colon as a separator between the start and end of the range, like [2:5]. This range is similar to the range() function we saw previously. It includes the first number, but goes to one less than the last number. You can also easily reference the start or end of the string by leaving one value blank. For example [:5] would give us all characters from the start to the fourth character in the string. We can also use [5:] to get the characters from the fourth character to the end of the string.

In [0]:
text.replace("i","t")# replace method to replpace:)

't am gotng to school'

In [0]:
#u can convert upper to lower case a nd vic versa !
name.upper()
name.lower()

'balaram'

In [0]:
# strip method to remove any space before and after the string 
new_text="     ran           "

In [0]:
print(new_text.strip())# this ACTUALLY remove spaces empty strings

ran

In [0]:
user="YEs"#this can be converted to any case you want to use in operations !
user.lower()

'yes'

In [0]:
# to get the acronym !!!
def initials(phrase):
    words = phrase.upper()
    result = words.split()
    for word in words:
        result +=word
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

In [0]:
def initials(phrase):
    words = phrase.upper()
    result = words.split()
    for i in range (len(result)):
      list_new=result[i]
      result +=list_new[0]
      return result

   # for word in words:
       # result +=words[0]
   

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

In [0]:
def initials(phrase):
    words = phrase
    result = "".join(W[0].upper() for W in words.split())### imp step 
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

In [0]:
# finally done !!

In [0]:
name.lstrip()#remove spaces on the lesft side !

'Balaram'

In [0]:
name.rstrip()#remove space on the right side

'Balaram'

In [0]:
#join and split are inverse of each other !
sample="i want to marry you darling;)"
list_sample=sample.split()

In [0]:
" ".join(list_sample)#"join by a tab space"

'i want to marry you darling;)'

In [0]:
"!!!!".join(list_sample)#join by a !!!!!

'i!!!!want!!!!to!!!!marry!!!!you!!!!darling;)'

## **Advanced String Methods**
We've covered a bunch of String class methods already, so let's keep building on those and run down some more advanced methods.

The string method lower will return the string with all characters changed to lowercase. The inverse of this is the upper method, which will return the string all in uppercase. Just like with previous methods, we call these on a string using dot notation, like "this is a string".upper(). This would return the string "THIS IS A STRING". This can be super handy when checking user input, since someone might type in all lowercase, all uppercase, or even a mixture of cases.

You can use the strip method to remove surrounding whitespace from a string. Whitespace includes spaces, tabs, and newline characters. You can also use the methods  lstrip and rstrip to remove whitespace only from the left or the right side of the string, respectively.

The method count can be used to return the number of times a substring appears in a string. This can be handy for finding out how many characters appear in a string, or counting the number of times a certain word appears in a sentence or paragraph.

If you wanted to check if a string ends with a given substring, you can use the method endswith. This will return True if the substring is found at the end of the string, and False if not.

The isnumeric method can check if a string is composed of only numbers. If the string contains only numbers, this method will return True. We can use this to check if a string contains numbers before passing the string to the int() function to convert it to an integer, avoiding an error. Useful!

We took a look at string concatenation using the plus sign, earlier. We can also use the join method to concatenate strings. This method is called on a string that will be used to join a list of strings. The method takes a list of strings to be joined as a parameter, and returns a new string composed of each of the strings from our list joined using the initial string. For example, " ".join(["This","is","a","sentence"]) would return the string "This is a sentence".

The inverse of the join method is the split method. This allows us to split a string into a list of strings. By default, it splits by any whitespace characters. You can also split by any other characters by passing a parameter.***

In [0]:
#sring formating
name="balaram"
age="20.66"
college="BvriT"
college=college.upper()
print("user name is {n},of age {a}, studying in {c}".format(n=name,c=college,a=age))
print("user name is {},of age {:>10}, studying in {}".format(name,college,age))#observe the difference #order in the format must be same as u desire !#notice the gap after the age here :>10 space have been created !
#order is not right ...

user name is balaram,of age 20.66, studying in BVRIT
user name is balaram,of age      BVRIT, studying in 20.66

#String Reference Cheat Sheet
# String Reference Cheat Sheet
**In Python, there are a lot of things you can do with strings. In this cheat sheet, you’ll find the most common string operations and string methods**.

**tring operations**
len(string) Returns the length of the string
for character in string Iterates over each character in the string
if substring in string Checks whether the substring is part of the string
string[i] Accesses the character at index i of the string, starting at zero
string[i:j] Accesses the substring starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(string) by default.
**String methods**



*string.lower() / string.upper()* Returns a copy of the string with all lower / upper case characters

---


*string.lstrip() / string.rstrip() / string.strip()* Returns a copy of the string without left / right / left or right whitespace


---

* Returns the number of times substring is present in the string


---


*string.isnumeric()* Returns True if there are only numeric characters in the string. If not, returns False.


---


*string.isalpha()* Returns True if there are only alphabetic characters in the string. If not, returns False.


---


*string.split() / string.split(delimiter)* Returns a list of substrings that were separated by whitespace / delimiter


---


*string.replace(old, new)* Returns a new string where all occurrences of old have been replaced by new.


---


*delimiter.join(list of strings)* Returns a new string with all the strings joined by the delimiter


---


#Check out the official documentation for all available String methods.

In [0]:
#check the official docs in the link !

In [0]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

this is an example of using the format() method on a string

In [0]:
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

apple carrot banana